body{
    margin: 0;
    font-family: 'Courier', Courier New, monospace;
}

/* Navigace */
nav{
    position: sticky;
    top: 0;
}

.nav{
    background-color: rgb(42, 42, 42);
    margin: 0;
    padding: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitems{
    display: flex;
}

.item{
    list-style: none;
    margin-right: 16px;
}

.item a{
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding: 8px;
    border-radius: 24px;
}

.Logo {
    list-style: none;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 24px;
}

.Logo a{
    color: red;
    text-decoration: none;
}

/* index.html */
.fotouvod{
    background-image: url(content/LethalCompany.jpg);
    background-size: cover;
    background-position: center;
    height: 100dvh;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95dvh;
    align-items: center;
}

/* Nadpis */
.fotouvod h1{
    animation: MainNadpis 20s ease infinite;
    margin: 0 auto;
    padding: 48px 16px;
    font-size: 224px;
    text-shadow: 8px 8px rgb(70, 0, 0);
}

/* Výběr */
.selection{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 90vw;
}

.selectionItem{
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid;
    border-radius: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    text-shadow: 4px 4px rgb(50, 0, 0);;
    box-shadow: 8px 8px 8px rgb(50, 0, 0);
    transition: .5s;
}

.selection h2{
    background-color: rgba(70, 0, 0, 0.6);
    border-radius: 48px;
    padding: 8px;
}

.selectionItem:hover{
    font-size: 48px;
    opacity: 1;
}

.fotouvod a{
    text-decoration: none;
    color: rgb(240,25,25);
    font-size: 42px;
}

.Hra{
    background-image: url(content/lethal-company-mods-more-players-steam-horror-game-550x309.jpg);
}

.Vyvoj{
    background-image: url(content/lethal_company_jester_active.jpg);
}

.Vyvojar{
    background-image: url(content/lDDqu84j_400x400.jpg);
}

.Historie{
    background-image: url(content/Lethal-Company_Alle-Monster-Liste-1089x600.jpg);
}












/* Animace */
@keyframes MainNadpis {
    0%{color: rgb(70, 0, 0);}
    25%{color: rgb(160, 15, 15);}
    50%{color: rgb(240, 30, 30);}
    75%{color: rgb(160, 15, 15);}
    100%{color: rgb(70, 0, 0);}
}