body{
    padding: 0;
    margin: 0;
    font-family: 'Courier', Courier New, monospace;
}

.stranka{
    background-color: black;
}

/* Navigace */
nav{
    position: sticky;
    top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    z-index: 9999;
}

.nav{
    background-color: rgb(70,0,0);
    margin: 0;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navitems{
    display: flex;
}

.item{
    list-style: none;
    margin-right: 16px;
    transition: .1s;
    padding: 4px;
    text-shadow: 4px 4px rgb(70, 0, 0);
}

.item:hover{
    background-color: rgb(160, 15, 15);
    border-radius: 28px;
}

.item a{
    text-decoration: none;
    color: red;
    font-size: 24px;
    padding: 8px;
    border-radius: 24px;
}

.Logo {
    list-style: none;
    font-size: 32px;
    font-weight: bolder;
    margin: 0px;
    padding-left: 16px; 
}

.Logo a{
    background: linear-gradient(to right,rgb(240,30,30), rgb(90,15,15));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.here{
    color:rgb(140, 0, 0)
}

/* Pozadi index.html */
.fotouvod{
    background-image: url(content/LethalCompany.jpg);
    background-size: cover;
    background-position: center;
    height: 100dvh;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95dvh;
    align-items: center;
}

/* Nadpis index.html */
.fotouvod h1{
    animation: MainNadpis 20s ease infinite;
    margin: 0 auto;
    padding: 48px 16px;
    font-size: 224px;
    text-shadow: 8px 8px rgb(70, 0, 0);
}

/* Výběr index.html*/
.selection{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 90vw;
}

.selectionItem{
    animation: SlideBottom 1s ease-out;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid;
    border-radius: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    text-shadow: 4px 4px rgb(50, 0, 0);;
    box-shadow: 8px 8px 8px rgb(50, 0, 0);
    transition: .5s;
}

.selection h2{
    background-color: rgba(70, 0, 0, 0.6);
    border-radius: 48px;
    padding: 8px;
}

.selectionItem:hover{
    font-size: 48px;
    opacity: 1;
}

.fotouvod a{
    text-decoration: none;
    color: rgb(240,25,25);
    font-size: 42px;
}

/* Obrazky index.html */
.Hra{
    background-image: url(content/lethal-company-mods-more-players-steam-horror-game-550x309.jpg);
}

.Vyvoj{
    background-image: url(content/lethal_company_jester_active.jpg);
}

.Vyvojar{
    background-image: url(content/lDDqu84j_400x400.jpg);
}

.Historie{
    background-image: url(content/Lethal-Company_Alle-Monster-Liste-1089x600.jpg);
}

/* Container stranka.html*/
.container{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 16px;
    top: 32px;
    background: radial-gradient(rgb(35,40,35), rgb(10,13,10));
    color: rgb(80, 200, 80);
    font-family: TerminalFont;
}

.p{
    font-size: 28px;
}







/* Můj MacBook */
@media screen and (width:1280px){ 
    .fotouvod h1{
        font-size: 170px;
        top: 32px;
    }

    .selectionItem{
        width: 300px;
        height: 250px;
    }

}

/* Mobile */
@media screen and (width:414px){ 

    .fotouvod{
        background-image: radial-gradient(rgb(70,0,0), rgb(240,30,30));
    }

    .fotouvod h1{
        font-size: 80px;
        text-shadow: 2px 2px black;
    }

    .selection{
        flex-direction: column;
    }

    .selectionItem{
        width: 250px;
        height: 200px;
    }

}

/* Animace */
@keyframes MainNadpis {
    0%{color: rgb(70, 0, 0);}
    25%{color: rgb(160, 15, 15);}
    50%{color: rgb(240, 30, 30);}
    75%{color: rgb(160, 15, 15);}
    100%{color: rgb(70, 0, 0);}
}

@keyframes  SlideBottom{
    from{
        transform: translateY(75px);
    }
    to{
        transform: translateY(0);
    }
}

/* Terminál Font*/
@font-face {
    font-family: TerminalFont;
    src: url(3270_fonts_d916271/3270-Regular.woff);
  }