body{
    background: radial-gradient(rgb(245,20,20), rgb(50,0,0));
    margin: 0;
    font-family: 'Courier', Courier New, monospace;
}

nav{
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav{
    background-color: rgb(42, 42, 42);
    margin: 0;
    padding: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitems{
    display: flex;
}

.item{
    list-style: none;
    margin-right: 16px;
}

.item a{
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding: 8px;
    border-radius: 24px;
}

.Logo {
    list-style: none;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 24px;
}

.Logo a{
    color: red;
    text-decoration: none;
}

.TitleLC{
    font-family: 'Courier', Courier New, monospace;
    font-size: 64px;
}
.TitleLC, .TitleLC h1{
    margin: 0 auto;
    padding: 4px;
    position: absolute;
    top: 16px;
}

.fotouvod img{
    width: 100%;
    height: auto;
}